<h1>web applications 2018</h1>
<p>ASSIGNMENTS LIST</p>

<table>
  <thead>

  <tr>
    <th>Problem set </th><th>Topic</th><th>Problem Description</th>
  </tr>
  </thead>

  <tbody>

  <tr>
    <td>PS1. a</td><td><a href = "/ps1/divide_by_zero/page">try this..divide by zero</a></td><td>In this part of the PS1 we had to run the rails server in production mode and make sure to output a stack trace to browser to show a divide by zero exception. Firstly,  config.consider_all_requests_local  has been made true in production.rb
  and record the error in production log with a message saying "divided by zero error" and now it logs every attempt to divide by zero.</td>
  </tr>
  <tr>
    <td>PS1. b</td><td><a href = "/ps1/googlenews/news">Get your daily news feed</a></td><td>In this part we had to get information in json format from goggle news for which we used a ruby gem ‘HTTParty’ which pulls information from API’s in desired format.
    So we applied the Google News API link and the format in which we required the information(i.e json) to HTTParty which stored all the the information in 3 different arrays (‘status’, ‘totalResults’ and ‘articles’,) in @result. Now all we had to do is access the arrays to get the required result and place it in HTML file.
    So we stored the articles array for headlines and world news variables @status1 & @status2 which contain articles by article no. as indexes which we can refer to, to retrive the stored information if required. Then we just used these variables to print out our results in the HTML file.
    We faced some issues when we had to configure proxy for HTTParty for which our TA Mr Visutr was kind enough to help us</td>
  </tr>

  <tr>
    <td>PS2.  a</td><td><a href = "quote_dbs/index"> Quotations </a></td><td>Manage Quote<br>Personalised View</td>
  </tr>

  <tr>
    <td>PS2.  b</td><td><a href = "first/stocks_i_like">my favourite stocks</td><td></td>
  </tr>
a
  <tr>
    <td>PS2.  c</td><td><a href = "first/transcript">Transcript</td><td>Stock Transcripts</td>
  </tr>
  <tr>
    <td>PS2.  d</td><td><a href = "first/log">sql log</td><td>Sql Logs</td>
  </tr>

  <tr>
    <td>PS2.  e</td><td><a href = "first/input">Input file</td><td></td>
  </tr>
  <tr>
    <td>PS3.  </td><td><a href = "http://web10.cs.ait.ac.th/jenkins/">Jenkins</td><td>Jenkins Link</td>
  </tr>
  <tr>
    <td>PS3.  </td><td><a href = "https://trello.com/invite/b/j0a3yEPu/3c7c1a23a9cd5738129fdf057dab0c91/webapplication-project">Trello</td><td>Trello Link</td>
  </tr>
  <tr>
    <td>PS3.  </td><td><a href = "proposal.pdf">Proposal</td><td>Project proposal</td>
  </tr>
  <tr>
    <td>PS3.  </td><td><a href = "dump.sql">Dump File</td><td>server sql dump file</td>
  </tr>
  <tr>
    <td>PS4.  </td><td><a href = "proposal.pdf">Documentation</td><td>Project proposal and various answers to questions asked in PS4. Project proposal Ait-Clinic Management which contains database design, page flow for all users, E-R diagram, preventive measures to avoid XSS attacks, SQl injection, database password. ssl has been provided using openssl by creating our own certificat</td>
  </tr>
  <tr>
    <td>PS4.  </td><td><a href = "latestdumpPS4.sql">Database dump</td><td>latest server sql dump file which includes database schema for wae project.</td>
  </tr>
  <tr>
    <td>PS5. </td><td><a href ="proposal.pdf" > documentation </a></td><td>Updated documentation to PS5</td>
  </tr>
  
  <tr>
    <td>PS5. </td><td><a href = "https://web10.cs.ait.ac.th">AIT clinic Project</td><td>application admin login: username- admin@example.com ; password- password</td>
  </tr>

  <tr>
    <td>PS6. </td><td><a href = "https://docs.google.com/document/d/1vM1hd4EDsjRvvlD3B36zXgJMktkUcb-iYObhU8FFCtM/edit?usp=sharing">User Evaluation</a></td><td>this document includes signed google documents of group 07, group 24 and our client(a nurse at ait clinic).</td>
  </tr>
  </tbody>

</table>
